.body {
    padding-top: 3.5rem;
  }

  /*navigation style*/

  .nav-link {
    font-family: 'poppins', sans-serif;
    font-weight: 'regular';
    color: #2E344A !important;
    font-size: 16px;
  }

.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
  display: inline-flex; 
}

  .navbar-brand {
    margin-left: -60px;
  }

  .mr-auto {
    flex-grow: 0 !important;
  }

  .nav-item .nav-link:hover{
    color:#D99748 !important;
  }

  .navbar-toggler .navbar-toggler-icon { 
    background-image: url(../images/Icon\ feather-menu.svg); 
} 


.btn-primary {
  background-color: #7CA89F;
  border-color: #7CA89F;
  font-family: 'montserrat', sans-serif;
}

.btn:hover {
  background-color: #A68C5B;
  border-color: #A68C5B;
  color:white;
  font-family: 'montserrat', sans-serif;
}


.btn-submit {
  background-color: #7CA89F;
  border-color: #7CA89F;
  font-family: 'montserrat', sans-serif;
}


 /*jumbotron style*/

 h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold ;
  color: black;
}

p {
  font-family: 'Poppins', sans-serif;
  color: black;
}

h2 {
  font-family: 'Poppins', sans-serif;
  margin-left: 40px;
}



 /*card style*/
  .card-Container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .card {
    margin: 0 auto;
  }

  .card-body {
    height: auto;
  }


  /*about me style needs the h5,paragraph text, and button to be centered inside parent div.*/
  
  .card-text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  .img.mx-auto {
    margin: 25px; 
}


  /*footer style*/
  .mb-0 {
    color: white !important;
    font-size: 16px;
    font-weight: regular;
  }


/*contact form*/
.resume-section {
  background-color: lightgray;
  padding-top:35px!important;
}

li{
  list-style-type:none;
}

h2.mb-4 {
  font-family: 'Poppins', sans-serif;
  font-weight:bold;
  font-size: 20px!important;
}


.btn-submit {
  background-color: #7CA89F;
  border-color: #7CA89F;
  font-family: 'montserrat', sans-serif;
}

/*submit button animation*/

.hold-mouse {
  box-shadow: 4px 4px 55px #ae8f26;
}
.circle {
  height: 25px;
  width: 25px; 
  background-color: #ae8f26 ;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: scale(0);
}

@keyframes grow { 
  0% { 
    background-color:#ae8f26;
    transform: scale(1); z-index: 2; }
  100% {
    background-color:#ae8f26;
    transform: scale(30); opacity: 0; z-index: -1; }
}

.grow {
  animation: grow 1.4s ease-out forwards;   
}
